{{#each animals}}
{{#if speak}}
<script type="text/javascript">
var speak_{{ @key }}= new Audio("/assets/Sounds/{{@key}}.wav");
speak_{{ @key }}.play();
console.log("{{@key}}");
</script>
<div onclick="speak_{{ @key }}.play();" id="{{ @key }}" style="float: left; text-align: center; background-image: url('/img/frame.png'); width: 275px; height: 240px; position: relative;">
{{else}}
<div onclick="document.location.href = '/animal/{{ @key }}/speak';" id="{{ @key }}" style="float: left; text-align: center; background-image: url('/img/frame.png'); width: 275px; height: 240px; position: relative;">
{{/if}}

<img src="/img/animals/{{ @key }}.png" style="position: absolute; top: 0; bottom: 0; margin: auto; margin-left: -20%;" />
{{#if speak}}
<div style="background-image: url('/img/speech.png'); position: absolute; top: -100px; bottom: 0; margin: auto; margin-left: 0; width: 192px; height: 60px; padding-top: 10px; font-weight: bold;">{{says}}</div>
{{/if}}
</div>
{{/each}}
